#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}
#login .form {
    background-color: rgb(245, 246, 247);
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}
#login .field label {
    display:  block;
}

#login .field {
    padding-bottom: 1.5rem;
}

#login .field input {
    width: 90%;
}

#login .actions {
    text-align: center;
}